@charset "utf-8";
/* CSS Document */
.top-bar{
	height: 50px;line-height: 50px
}
.top-bar a{
	color: white
}
.top-bar a:hover{
	color: #FFC113
}
.navbar .navbar-nav.nav-item .nav-link{padding: 10px 20px}
 .navbar .navbar-nav.nav-item .nav-link:hover{color: #056CB6; background-color: #FFC113}
.navbar .navbar-nav .nav-item .dropdown-menu{background-color: #056CB6; padding-top: 0; padding-bottom: 0}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{color: white}
.navbar .navbar-nav.nav-item .dropdown-menu .dropdown-item:hover{background-color: #FFC113}
main{min-height: 500px} 
footer {min-height: 200px}
.gach-chan{border-bottom: 2px solid #FFC113} 
footer .navbar-nav .nav-item .nav-link:hover{
	color: #FFC113
}
.bottom-bar{
	height: 40px;line-height: 40px
}
#service a{text-decoration: none; color: #666666}
#service a:hover{color: #FFC113}
#why{width: 100%; min-height: 400px; background-image: url("images/why.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center top}
#client .hinh {position: relative
}
#client .before{
	position: absolute;left: 0;top: 0 ;padding: 10px;background-color: rgba(255,255,255,0.05)
}
#client .after{
	position: absolute;left: 50%;top: 0 ;padding: 10px;background-color: rgba(255,255,255,0.05)
}
#cn .noi-dung img {
	width:80px;height:80px
}
#cn
.noi-dung{ display: flex; flex-direction:column; justify-content:center ;align-items:center
}
#tin-tuc a{
text-decoration: none; font-size:18px; font-weight: bold; color: rgba(78,78,78,1.00)
}
#tin-tuc a:hover{
	color: #FFC113}
#br{
	width: 100%; min-height: 200px; background-image:url("images/pageheader.png"); background-repeat: no-repeat; background-size: cover; background-position: center top;justify-content: center
}
#dichvu{
	padding-top: 100px;padding-bottom: 50px
}